.main-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.main-container {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  background-color: #f5f5f5;
}

button.active {
  background-color: rgba(255, 255, 255, 0.2);
}