# Global ignores for the repo

# Node modules (all packages)
node_modules/
**/node_modules/

# Ignore any scripts folder at any depth
scripts/
**/scripts/

# Environment files (optional)
.env
*.local
package-lock.json
yarn.lock
package.json