services:
  - type: web
    name: gamemaster-backend
    env: node
    region: frankfurt
    plan: free
    buildCommand: cd gamemaster-backend && yarn install
    startCommand: cd gamemaster-backend && yarn start
    envVars:
      - key: NODE_VERSION
        value: 22.16.0
      - key: NODE_ENV
        value: production
